<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Lista de lavanderias na proximidade</title>
</head>
<body>
<h3>Selecione uma das lavanderias que localizamos próximo a você... </h3>

  			<tr '="product : ${lavanderias}">
                <td th:text="${product.id}"><a href="/product/${product.id}">Id</a></td>
                <td th:text="${product.descricao}">Product Id</td>
                <td th:text="${product.avaliacao}">descirption</td>
            </tr>

<a href="/criarPedido.html"><button>Próximo</button></a>

</body>
</html>